* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f5f5f5;
    overflow-x: none;
  }
  
  .root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 300ms;
    padding: 2rem
  }
  
  .item {
    flex-shrink: 1;
    max-width: 150px;
    margin: 5px;
    transition: 300ms;
    filter: brightness(0.8);
  }
  
  .item:hover {
    cursor: pointer;
    filter: brightness(1);
  }
  
  .item-detail {
    transform: translate(-50%, -50%) scale(2.5);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    filter: brightness(1);
  }